.blocks{
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}

.block{
    min-width: 100px;
    width: 100%;
    padding: 20px;
}

.block:first-of-type{
    border-right: 1px solid #3D5A80;;
}

.items{
    background: #e0e0e0;
}

.textarea{
    width: 97%;
    margin: 20px 0 0 0;
}

.btn{
    width: 100%;
}